<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/mainlayout.html">
<div layout:fragment="fragment">
    <div class="row">
        <div class="col-6 mt-4 mb-4" th:each="request : ${requests}">
            <div class="card-body">
                <span class="fs-4 fw-bold">Request from: </span><span class="badge bg-warning fs-4" th:text="${request.userName}" style="padding: 4px 7px;"></span>
                <h5 class="card-title" th:text="${'Course: ' + request.course.name}"></h5>
                <p class="card-text" th:text="${request.comment}"></p>
                <p class="card-text" th:text="${'Phone: ' + request.phone}"></p>
                <a th:href="@{'/details/' + ${request.id}}" class="btn btn-success">Details</a>
            </div>
            </div>
        </div>
</div>