<div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: floralwhite;">CRM Panel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="float: right;">
        <ul class="navbar-nav" style="float: right;">
            <li class="nav-item" style="float: right; display: inline">
                <a class="nav-link" style="color: floralwhite;" href="/">All Requests</a>
            </li>
            <li class="nav-item" style="float: right; display: inline">
                <a class="nav-link" style="color: floralwhite;" href="/open">Open Requests</a>
            </li>
            <li class="nav-item" style="float: right; display: inline">
                <a class="nav-link" style="color: floralwhite;" href="/closed">Closed Requests</a>
            </li>
            <li class="nav-item" style="float: right; display: inline">
                <a class="nav-link" style="color: floralwhite;" href="/newrequest">+New Request</a>
            </li>
        </ul>
    </div>
</div>